body{
  background-color: rgb(12, 17, 17);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h1{
  color: aliceblue;
  text-align: center;
  font-size: 5 rem;
}
.list-of-songs
{
  padding-top: 10px;
  width: 800px;
  height:50%;
}
.music-status{
  background: burlywood;
  padding: 3px 10px;
  font-size: 1.0rem;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 75px;
}
.music-status .subtitle{
  padding: 3px 10px;
  margin-bottom: 6px;
  align-content: center;
 
}
.music-status button{
  color: red;
}
.music-status .likebutton{
  color:blue;
}
.button {
 border: 0;
 cursor: pointer;
 font-size: 18px;
 outline: 0;
 align-items: center;
 
}

input{
  background:rgba(252, 252, 252, 0.925);
  padding:7px 10px;
  font-size: 1rem;
  color: black;
  outline: 0;
  border: 0;
  flex:1;
}
form{
  display: flex;
  padding-top:10px;
}
form button{
  color:black;
  background: rgb(16, 236, 71);
  outline: 0;
  padding:0 15px;
}
.search{
  display: flex;
  padding-bottom:10px;
}
.search button{
  color:black;
  background: rgb(16, 236, 71);
  outline: 0;
  border: 0;
  padding:0 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ec8585;
  min-width: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}